
* ::before,
* ::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding: 20px;
}
/* box-sizing: inherit; */

.card {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}
